---
pagination: 
    data: bookmarks
    size: 9
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Bookmarks of @brob</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <section class="intro">
    <h1>Bookmarks by <a href="https://twitter.com/brob/">@Brob</a></h1>
    <p>One part experiment in serverless functions, one part a place to keep track of the various things I want to bookmark and share. Maybe in the future a place I can automatically send emails from.</p>
    </section>

    <div class="search">
        <label for="searchApp">Search</label>
        <input placeholder="search for keywords in headlines..." type="text" id="searchApp" class="search-field">
        <div id="results" class="search-results"></div>
    </div>

    {% include pagination.html %}


    <ul class="bookmarks">
    {% for link in pagination.items %}
        {% if link.url and link.pageTitle %}
        <li>
            <h2><a href="{{ link.url }}">{{ link.pageTitle }}</a></h2>
            Saved on {{ link._createdAt | date: "%b %d, %Y"  }}
            {% if link.description != "" %}
                <p>{{ link.description }}</p>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>

    {% include pagination.html %}


    <script src="/js/script.js"></script>
</body>
</html>