* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    line-height: 1.4em;
}
body {
    background-color: #FDEDF4 ;
    min-height: 80vh;
    padding: 2rem 0;
}
a {
    color: #309CD1;
    transition: color .3s ease-out;
}
a:hover {
    color: #3ABEFF;
}
h1 {
    font-size: 3rem;
    line-height: 1.3em;
    margin: .75rem 0;
}
h2 {
    line-height: 1.4em;
}
ul, .intro {
    list-style: none;
    padding: 0;
    width: 95vw;
    max-width: 650px;
    margin: auto;
}
li, .intro {
    display: block;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0 0 2px #999;
    padding: 1rem 1.5rem;
}
