* {
    box-sizing: border-box;
}
body > * + * {
    margin-top: 1rem;
}
html {
    font-size: 18px;
    line-height: 1.4em;
}
body {
    background-color: #FDEDF4 ;
    min-height: 80vh;
    padding: 2rem 0;
}
a {
    color: #309CD1;
    transition: color .3s ease-out;
}
a:hover {
    color: #3ABEFF;
}
h1 {
    font-size: 3rem;
    line-height: 1.3em;
    margin: .75rem 0;
}
h2 {
    line-height: 1.4em;
}
.intro, .search {
    list-style: none;
    padding: 0;
    width: 95vw;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
.intro, .pagination__link, .bookmarks li, .pagination a  {
    display: block;
    background-color: white;
    box-shadow: 0 0 2px #999;
    padding: 1rem 1.5rem;
}
.bookmarks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    padding: 0;
    
}

.pagination {
    display: flex;
    justify-content: space-between;

}
.pagination a {
    padding: .5rem .75rem;
    display: flex;
    align-items: center;
}
.pagination a:hover {
    background-color: #efefef;
}
.pagination a:not([href]) {
    color: #999;
    background-color: white;
    cursor: not-allowed;

}
.pagination a.active {
    background-color: #999;
    color: white;
}
.pagination a.inactive {
    color: grey;
}

.pages {
    display: flex;
}

.bookmarks, .pagination {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.search {
    position: relative;
}
.search label {
    font-size: 1.25rem;
    color: #333;
}
.search-field {
    font-size: 1.25rem;
    width: 100%;
    display: block;
    padding: 1rem 1rem;
    position: relative;
    z-index: 2;
}
.search-results {
    display: none;
}
.search:focus-within .search-results {
    display: block;
}
.searchResults {
    position: absolute;
    top: calc(100% - 1px);
    left: 1px;
    width: calc(100% - 2px);
    background-color: white;
    box-shadow: 0 0 2px #999;
    z-index: 0;
}
.searchMarks {
    padding: 0;
}
.searchResults__title {
    padding: .5rem 1rem;
}
.searchMarks li {
    padding: .5rem 1rem;
    list-style: none;
}
.searchMarks li + li {
    border-top: 1px solid #ccc;
}